<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

<!-- <body>

  <section class="parallax-wrapper">
    <section class="parallax-1">
      <div class="parallax-inner">
        <h1>MAHESHKUMAR C</h1>
      </div>
    </section>
  
    <h2>Parallax Effect</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of
      Lorem Ipsum.
    </p>


 
    <section class="parallax-2">
      <div class="parallax-inner">
        <h1>Parallax Effect</h1>
      </div>
    </section>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of
      Lorem Ipsum.

    </p>
 
</section>
</body> -->

<!-- <ion-content>
  <ion-header collapse="false">
    <ion-toolbar>
      <ion-title>Parallax Effect</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="parallax-card">
      <ion-card-header>
        <ion-card-title>Header</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="../../assets/anh-henry-nguyen-_GvAHB59dkk-unsplash.jpg" alt="Parallax Image">
        <p>This is a parallax effect card.</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <p style="color: aliceblue;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
    of
    Lorem Ipsum.

  </p>
</ion-content>
<ion-content>
  <ion-card class="parallax-card">
    <ion-card-header>
      <ion-card-title>Header</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/anh-henry-nguyen-_GvAHB59dkk-unsplash.jpg" alt="Parallax Image">
      <p>This is a parallax effect card.</p>
    </ion-card-content>
  </ion-card>
</ion-content> -->
<!-- 
<body>
  <div class="grain"></div>
  <h1>MAHESHKUMAR<br>CYBER SECURITY ENGINEER<br>ADAPTIVE MEDIA INDIA</h1>
  <div class="image"></div>
  <section>
    <h2>It works<br>on lighter<br>Background</h2>
  </section>
</body>




<div class="copyright">
  <p>
    <i class="fas fa-paint-brush"></i> and <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by <a href="https://valentinbossens.ch" target="_blank">Valord Prod.</a>
  </p>
</div> -->
<ion-content fullscreen>
  <ion-card class="parallax-card">
    <ion-card-header>
      <ion-card-title>Parallax Effect 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/pars-sahin-hgtfkhZWVe4-unsplash.jpg" alt="Parallax Image 1">
      <p>This is a parallax effect card.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="parallax-card">
    <ion-card-header>
      <ion-card-title>Parallax Effect 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/anh-henry-nguyen-_GvAHB59dkk-unsplash.jpg" alt="Parallax Image 2">
      <p>This is another parallax effect card.</p>
    </ion-card-content>
  </ion-card>
</ion-content>